<a href="https://colab.research.google.com/github/AIGenNext/Python-Exercises/blob/main/PythonAnswers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Exercise 1 - Positive or Negative**

In [ ]:
num = int(input())

if(num > 0):
  print("Positive")
else:
  print("Negative")

## **Exercise 2 - Max of Two Numbers**

In [ ]:
num1 = int(input())
num2 = int(input())

if(num1 > num2):
  print(num1)
else:
  print(num2)

## **Exercise 3 - Max of Three Numbers**

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if(num1 > num2 and num1 > num3):
  print(num1)
elif(num2 > num1 and num2 > num3):
  print(num2)
else:
  print(num3)

## **Exercise 4 - Welcome a User**

In [ ]:
name = input()

print("welcome", name)

## **Exercise 5 - Prime Number or Not**

In [ ]:
num = int(input())

for i in range(2, num, 1):
  if(num % i) == 0:
    print("Not a Prime Number")
    break
else:
  print("Prime Number")

7
Prime Number

## **Exercise 6 - Print a Pattern pt 1**

In [ ]:
for i in range(1, 6,1):
  print('*'*i)

*
**
***
****
*****

## **Exercise 7 - Print Pattern in Reverse**

In [ ]:
for i in range(6, 0, -1):
  print('*'*i)

******
*****
****
***
**
*

## **Exercise 8 - Odd or Even**

In [ ]:
num = int(input("Enter a number: "))

if (num % 2 == 0):
    print("You picked an even number.")
else:
    print("You picked an odd number.")

Enter a number: 3
You picked an odd number.

## **Exercise 9 - Sum of First N Natural Numbers**

In [ ]:
num = int(input())
temp = 0

for i in range(1, num+1):
  temp += i

print(temp)

5
15

## **Exercise 10 - Marks and Grade**

In [ ]:
mark = int(input())

if(mark < 50):
  Grade = "F"
if(mark > 50 and mark < 60):
  Grade = "D"
if(mark > 60 and mark < 70):
  Grade = "C"
if(mark > 70 and mark < 80):
  Grade = "B"
if(mark > 80 and mark < 90):
  Grade = "A-"
if(mark > 90 and mark < 100):
  Grade = "A+"

print("Your Grade is",Grade)

99
Your Grade is A+

## **Exercise 11 - Multiplication Table of 2**

In [ ]:
for i in range(1, 10):
  print(i*2)

2
4
6
8
10
12
14
16
18

## **Exercise 12 - Factrial of a Number**

In [ ]:
num = int(input())
temp = 1

for i in range(1, num+1):
  temp *= i

print(temp)

5
120

## **Exercise 13 - Fibonacci Series**

In [ ]:
# n terms
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

while count < nterms:
    print(n1)
    nth = n1 + n2
    # update values
    n1 = n2
    n2 = nth
    count += 1

How many terms? 10
0
1
1
2
3
5
8
13
21
34

## **Exercise 14 - Write Program to Find Power**

In [ ]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

## **Exercise 15 - Reverse a Number**

In [ ]:
# Get number as input
number = int(input()) 

# reverse the number
reverse_num = 0
while number > 0:
    reminder = number % 10
    reverse_num = (reverse_num * 10) + reminder
    number = number // 10

print(reverse_num)

2234
4322

## **Exercise 16 - Check if Palindrome**

In [ ]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

## **Exercise 17 - Count Total Number of Digits in a Number**

In [ ]:
num = int(input())
count = 0
while num != 0:
    # floor division to remove the last digit from number
    num = num // 10

    # increment  by 1
    count = count + 1
print("Total digits are:", count)

## **Exercise 18 - Display Number From List that are greater than 5**

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

# check if number is divisible by 5
for item in numbers:
  if (item % 5 == 0):
      print(item)

75
150
180
145
525
50

## **Exercise 19 - Print List in Reverse Order**

In [ ]:
list1 = [10, 20, 30, 40, 50]

# iterate list in reverse order star from last item to first
for i in range(len(list1) - 1, -1, -1):
    print(list1[i])

50
40
30
20
10

## **Exercise 20 - Find if a alphabet is a vowel**

In [ ]:
def is_vowel(char):
    all_vowels = 'aeiou'

    if char in all_vowels:
      return True
    else:
      return False
      
print(is_vowel('c'))
print(is_vowel('e'))

False
True

## **Exercise 21 - Find Cube of a Number**

In [ ]:
def cube(num):
  return num*num*num

print(cube(20))

8000

## **Exercise 22 - Split String on Hyphens**

In [ ]:
str1 = "Richard-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

for sub in sub_strings:
    print(sub)

## **Exercise 23 - Swap Two Variables**

In [ ]:
a = 10
b = 20

a , b = b, a
print("a =",a)
print("b =",b)

a = 20
b = 10

## **Exercise 24 - Check Leap Year**

In [ ]:
year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print(year,"is a leap year")

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print(year,"is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print(year,"is not a leap year".format(year))

## **Exercise 25 - Square all items in a list**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
# result list
res = []
for i in numbers:
    # calculate square and add to the result list
    res.append(i * i)
print(res)

## **Exercise 26 - Add all Elements in a List**

In [ ]:
newlist = [20, 3, 5, 7, 8, 49]
temp = 0

for num in newlist:
  temp += num

print(temp)

92

## **Exercise 27 - Find Largest Num in list without using Max Function**

In [ ]:
newlist = [20, 3, 5, 7, 8, 49]

# sorting the list in ascending order
newlist.sort()

# the sorted list will have the largest number as the last
print(newlist[-1])

49

## **Exercise 28 - Count How many times a Element Appears in a List**

In [ ]:
# Python code to count the number of occurrences
def countX(lst, x):
	count = 0
	for i in lst:
		if (id == x):
			count = count + 1
	return count

# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print(countX(lst, x))

0

## **Exercise 29 - Program To Find Even and Odd Numbers in a List**

In [ ]:
# Python program to count Even
# and Odd numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 1]

even_count, odd_count = 0, 0

# iterating each number in list
for num in list1:
	
	# checking condition
	if num % 2 == 0:
		even_count += 1

	else:
		odd_count += 1
		
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

## **Exercise 30 - Convert a List into a Single String**

In [ ]:
# Python program to convert a list to string
	
# Function to convert
def listToString(s):
	
	# initialize an empty string
	str1 = ""
	
	# traverse in the string
	for ele in s:
		str1 += ele
	
	# return string
	return str1
		
		
# Driver code	
s = ['Geeks', 'for', 'Geeks']
print(listToString(s))

GeeksforGeeks

## **Exercise 31 - Swap the First and Last Elements of the List**

In [ ]:
# Swap function
def swapList(newList):
	
	newList[0], newList[-1] = newList[-1], newList[0]

	return newList
	
# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

## **Exercise 32 - Add a Tuple to a List and Vice-Versa**

In [ ]:
# initializing list
test_list = [5, 6, 7]

# printing original list
print("The original list is : " + str(test_list))

# initializing tuple
test_tup = (9, 10)

# Adding Tuple to List and vice - versa
# Using tuple(), data type conversion [tuple + list]
res = tuple(list(test_tup) + test_list)

# printing result
print("The container after addition : " + str(res))

## **Exercise 33 - Sum of all Items in a Dictionary**

In [ ]:
def returnSum(myDict):

	list = []
	for i in myDict:
		list.append(myDict[i])
	final = sum(list)

	return final

dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

## **Exercise 34 - Find if a Given Number is ArmStrong Number**

In [ ]:
num = 1634

# find length
order = len(str(num))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

## **Exercise 35 - Check if password has atleast one letter and one number**

In [ ]:
def checkpass(str):

	# initializing flag variable
	flag_l = False
	flag_n = False

	for i in str:
	
		# if string has letter
		if i.isalpha():
			flag_l = True

		# if string has number
		if i.isdigit():
			flag_n = True

	return flag_l and flag_n


# driver code
print(checkpass('thishasboth29'))
print(checkpass('AiGenNext'))

True
False
False
True
False
False

## **Exercise 36 - Perfect Number**

In [ ]:
# Returns true if n is perfect
def isPerfect(n):
     
    # To store sum of divisors
    sum = 1
     
    # Find all divisors and add them
    i = 2
    while i * i <= n:
        if n % i == 0:
            sum = sum + i + n/i
        i += 1
    
    return sum == n

print(isPerfect(6))

True

## **Exercise 37 - Program to Find Average of Set of Integers**

In [ ]:
count = int(input("Enter the count of numbers: "))
i = 0
sum = 0
for i in range(count):
    x = int(input("Enter an integer: "))
    sum = sum + x
avg = sum/count
print(" The average is: ", avg)

## **Exercise 38 - Program to Insert Numbers in a List**

In [ ]:
numbers = [3,4,1,9,6,2,8]
print(numbers)
x = int(input("Enter the number to be inserted: "))
y = int(input("Enter the position: "))
numbers.insert(y,x)
print(numbers)

## **Exercise 39 - Add Two Matrix in a Python Program**

In [ ]:
X = [[8,5,1],
[9 ,3,2],
[4 ,6,3]]
Y = [[8,5,3],
[9,5,7],
[9,4,1]]
result = [[0,0,0],
[0,0,0],
[0,0,0]]
for i in range(len(X)):
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]
for k in result:
    print(k)

## **Exercise 40 - Impliment a basic python calculator**

In [ ]:
def add(x,y):
    print(x+y)

def subtract(x,y):
    print(x-y)

def multiply(x,y):
    print(x*y)

def divide(x,y):
    print(x/y)

print("Enter two numbers")
n1=input()
n2=input()

print("Enter the operation +,-,,/ ") 
op=input() 

if op=='+':
    add(int(n1),int(n2))
elif op=='-':
    subtract(int(n1),int(n2))
elif op=='':
    multiply(int(n1),int(n2))
elif op=='/':
    divide(int(n1),int(n2))
else:
    print(" Invalid entry ")